<html>
    <head>
        {% include 'base_head.html' %}
        {% include 'home_head.html' %}
        {% include 'nav_head.html' %}

        <!-- Import Slick Styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libraries/slick/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libraries/slick/slick-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
        <!-- ../static/libaries/slick/slick.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="../static/libaries/slick/slick-theme.css">
        <link rel="stylesheet" type="test/css" href="../static/css/normalize.css"> -->
    </head>

    <body>
        {% include 'nav.html' %}

        <section class="page-title content text-center">
            <h1>Browse</h1>
        </section>

        <section id="browse">
            <!-- <div class="row">
                <h4 class="col-3">Browse</h4>
            </div> -->

            <div class="row">
                <div class="col-3"><h6>By Genre</h6></div>
                <!-- <div class="col-7 level"> -->
                    <form class="col-8 level" method="POST", action="{{ url_for('home.search_genre') }}">
                        <div class="col-2 level-item"><input value="Search" type="submit" class="btn-accent "></div>
                        <div class="col-4">
                            <select name="genre" class="select" placeholder="Genres">
                                {% for genre in genres %}
                                    <option>{{genre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                <!-- </div> -->
                
            </div>

            <div class="slider center">
                {% for movie in genre_to_movies %}
                    <a href="#modal-{{ movie.movie_id }}"><div><img src="{{ movie.movie_art_url }}"></div></a>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-3"><h6>By Year</h6></div>
                <form class="col-8 level" method="POST" action="{{ url_for('home.search_year') }}">
                    <div class="col-2 level-item"><input value="Search" type="submit" class="btn-accent "></div>
                    <div class="col-2"><input name="year" type="text" placeholder="Year"></div>
                </form>
            </div>

            <div class="slider center">
                {% for movie in year_to_movies %}
                    <a href="#modal-{{ movie.movie_id }}"><div><img src="{{ movie.movie_art_url }}"></div></a>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-3"><h6>By Rating</h6></div>
                <form class="col-8 level" method="POST" action="{{ url_for('home.search_rating') }}">
                    <div class="col-2 level-item"><input value="Search" type="submit" class="btn-accent "></div>
                    <div class="col-2"><input name="rating" type="text" placeholder="Rating"></div>
                </form>
            </div>

            <div class="slider center">
                {% for movie in rating_to_movies %}
                    <a href="#modal-{{ movie.movie_id }}"><div><img src="{{ movie.movie_art_url }}"></div></a>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-3"><h6>By Actor</h6></div>
                <form class="col-8 level" method="POST" action="{{ url_for('home.search_actor') }}">
                    <div class="col-2 level-item"><input value="Search" type="submit" class="btn-accent "></div>
                    <div class="col-3 level-item"><input name="first_name" type="text" placeholder="First Name"></div>
                    <div class="col-3 level-item"><input name="last_name" type="text" placeholder="Last Name"></div>
                </form>
            </div>

            <div class="slider center">
                {% for movie in actor_to_movies %}
                    <a href="#modal-{{ movie.movie_id }}"><div><img src="{{ movie.movie_art_url }}"></div></a>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-3"><h6>By Director</h6></div>
                <form class="col-8 level" method="POST" action="{{ url_for('home.search_director') }}">
                    <div class="col-2 level-item"><input value="Search" type="submit" class="btn-accent "></div>
                    <div class="col-3 level-item"><input name="first_name" type="text" placeholder="First Name"></div>
                    <div class="col-3 level-item"><input name="last_name" type="text" placeholder="Last Name"></div>
                </form>
            </div>

            <div class="slider center">
                {% for movie in director_to_movies %}
                    <a href="#modal-{{ movie.movie_id }}"><div><img src="{{ movie.movie_art_url }}"></div></a>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-3"><h6>By Writer</h6></div>
                <form class="col-8 level" method="POST" action="{{ url_for('home.search_writer') }}">
                    <div class="col-2 level-item"><input value="Search" type="submit" class="btn-accent"></div>
                    <div class="col-3 level-item"><input name="first_name" type="text" placeholder="First Name"></div>
                    <div class="col-3 level-item"><input name="last_name" type="text" placeholder="Last Name"></div>
                </form>
            </div>

            <div class="slider center">
                {% for movie in writer_to_movies %}
                    <a href="#modal-{{ movie.movie_id }}"><div><img src="{{ movie.movie_art_url }}"></div></a>
                {% endfor %}
            </div>
        </section>

        {% for movie in genre_to_movies %}
            {% include 'movie_modal.html' %}
        {% endfor %}

        {% for movie in year_to_movies %}
            {% include 'movie_modal.html' %}
        {% endfor %}

        {% for movie in rating_to_movies %}
            {% include 'movie_modal.html' %}
        {% endfor %}

        {% for movie in actor_to_movies %}
            {% include 'movie_modal.html' %}
        {% endfor %}

        {% for movie in director_to_movies %}
            {% include 'movie_modal.html' %}
        {% endfor %}

        {% for movie in writer_to_movies %}
            {% include 'movie_modal.html' %}
        {% endfor %}

        {% for movie in year_to_movies %}
            {% include 'movie_modal.html' %}
        {% endfor %}

            
        <!-- Import Slick JS -->
        <script src="{{ url_for('static', filename='libraries/slick/slick.min.js')}}"></script>
        <!-- ../static/libaries/slick/slick.min.js"></script> -->
        <script src="{{ url_for('static', filename='js/home.js')}}"></script>
        <!-- <script src="../static/js/home.js"></script> -->
    </body>
    
</html>