<html>
    <head>
        {% include 'base_head.html' %}
        {% include 'home_head.html' %}
        {% include 'nav_head.html' %}

        <!-- Import Slick Styles -->
        <link rel="stylesheet" type="text/css" href="../static/libaries/slick/slick.css">
        <link rel="stylesheet" type="text/css" href="../static/libaries/slick/slick-theme.css">
        <link rel="stylesheet" type="test/css" href="../static/css/normalize.css">
    </head>

    <body>
        {% include 'nav.html' %}
        <br><br><br><br>

        <section id="welcome-back" class="center">
            <h1 class="">Welcome back, Mikey.{#{user.name}#} </h1>
        </section>
        <br><br><br>

        <section id="currently-watching">
            <div>
                <h4>Currently Watching</h4>
            </div>
            <div class="slider center">
                <div>
                    <img src="../static/images/venom.jpg">
                </div>
                <div>
                    <img src="../static/images/incredibles-2.jpg">
                </div>
                <div>
                    <img src="../static/images/black-panther.jpg">
                </div>
                <div>
                    <img src="../static/images/deadpool-2.jpg">
                </div>
                <div>
                    <img src="../static/images/crazy-rich-asians.jpg">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie6">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie7">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie8">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie9">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie10">
                </div>
            </div>

            <br><br>

            <div>
                <h4>Browse</h4>
            </div>
            <div class="slider center">
                <div>
                    <img src="http://placehold.it/232x130?text=Movie1">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie2">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie3">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie4">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie5">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie6">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie7">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie8">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie9">
                </div>
                <div>
                    <img src="http://placehold.it/232x130?text=Movie10">
                </div>
            </div>
        </section>
            
        <!-- Import Slick JS -->
        <script src="../static/libaries/slick/slick.min.js"></script>
        <script src="../static/js/home.js"></script>
    </body>
</html>