<html>
    <head>
        {% include 'base_head.html' %}
        {% include 'index_head.html' %}
    </head>
    <body>
        <div id="index-container" class="content text-center">
            <h1 id="index-logo" class="title">Sinema</h1>
            <br>
            <h6 id="site-description" class="light">The <strong>#1</strong> site to watch free, high-quality movies.</h6>
            <br>

        </div>
        <div id="get-started" class="row fluid-container">
            <div class="col-4 offset-center">
                <div id="get-started-btn-container" class="btn-container center">
                    <div class="btn btn-accent btn-xlarge">Get Started <i class="fa fa-chevron-right fa-3x pad-left" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div id="log-in-container" class="center">
            <h6 class="light">Already have an account? <a id="log-in-link" href="#">Log in</a>.</h6>
        </div>
    </body>
</html>