<div class="header header-fixed unselectable header-animated header-dark">
    <div class="header-brand">
        <div class="nav-item no-hover">
            <h6 class="nav-logo title" 
                style="color: #db0000; letter-spacing: 0.25rem; font-family: 'Bebas Neue';font-size: 2rem;">
                Sinema
            </h6>
        </div>
    </div>
    <div class="header-nav" id="header-menu">
        <div class="nav-left">
            <div class="nav-item text-center">
                <a href="/home">Home</a>
            </div>

            <div class="nav-item text-center">
                <a href="/recently_added">Recently Added</a>
            </div>

            <div class="nav-item text-center">
                <a href="/new_releases">New Releases</a>
            </div>
        </div>
        <div class="nav-right">
            <!-- {% if g.search_form %} -->
            <div id="search-bar" class="nav-item">
                <!-- <div class="row level"> -->
                        <!-- <div class="col-3 level-item"><p>Search:</span></div> -->
                        <!-- <div class="col-9 level-item"> -->
                            <form style="width: 17rem;" method="GET" action="{{ url_for('search.search') }}">
                                <!-- <input style="width: 73%; padding: .5rem 1.1rem .5rem 32px;" type="search" placeholder="Search"> -->
                                <div class="form-group">
                                    {{ g.search_form.q(size=20, class="form-group-input small-search",
                                        type="search", placeholder=g.search_form.q.label.text) }}
                                </div>
                            </form>
                        <!-- </div> -->
                    <!-- </div> -->
                    
            </div>
            <!-- {% endif %} -->
            <div class="nav-item has-sub" id="dropdown">
                <a class="nav-dropdown-link"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
                <ul id="user-menu" class="dropdown-menu" role="menu">
                    <li role="menu-item"><a href="#">Profile</a></li>
                    <li role="menu-item"><a href="#">Likes</a></li>
                    <li role="menu-item"><a href="#">Settings</a></li>
                    <li class="dropdown-menu-divider"></li>
                    <li role="menu-item"><a style="color: #db0000;" href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/nav.js') }}"></script>