<div class="header header-fixed unselectable header-animated header-dark">
    <div class="header-brand">
        <div class="nav-item no-hover">
            <h6 id="nav-logo" class="title">Sinema</h6>
        </div>
    </div>
    <div class="header-nav" id="header-menu">
        <div class="nav-left">
            <div class="nav-item text-center">
                <a href="">Home</a>
            </div>

            <div class="nav-item text-center">
                <a href="">Recently Added</a>
            </div>

            <div class="nav-item text-center">
                <a href="">New Releases</a>
            </div>
        </div>
        <div class="nav-right">
            <div class="nav-item has-sub" id="dropdown">
                <a class="nav-dropdown-link"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
                <ul id="user-menu" class="dropdown-menu" role="menu">
                    <li role="menu-item"><a href="#">Profile</a></li>
                    <li role="menu-item"><a href="#">Likes</a></li>
                    <li role="menu-item"><a href="#">Settings</a></li>
                    <li class="dropdown-menu-divider"></li>
                    <li role="menu-item"><a style="color: #db0000;" href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/nav.js"></script>