/* Custom Fonts */
@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/bebasneue.otf);
}

/* Background */
body {
    background-color: #141414;
    font-family: Raleway;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
}

.page-title h1 {
    text-shadow: 0.3rem 0.2rem 0.3rem black;
    font-family: "Raleway";
    text-shadow: 0.3rem 0.3rem 0.1rem black;
    padding-top: 5.5rem;
    padding-bottom: 2rem;
    font-size: 4rem;
}

input[type=text], input[type=search], .btn, [type=submit], button, select {
    font-family: 'Raleway';
}

.modal-content {
    background-color: #222;
    color: white;
}

.modal-title {
    font-size: 3rem !important;
    font-color: #db0000;
}

.fa-times {
    color: red;
}

.slider {
    margin: auto;
    width: 92%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.slick-slide {
    max-height: 130px;
    width: 236px;
}