/* Custom Fonts */
@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/bebasneue.otf);
}

/* Background */
body {
    background: #333;
}

/* Navbar Styling */
#nav-logo {
    color: #db0000;
    letter-spacing: 0.25rem;
    font-family: "Bebas Neue";
    font-size: 2rem;
}

.nav-left .nav-item {
    font-size: 1rem;
}

.nav-item {
    font-family: "Raleway";
}


.nav-item a {
    color: white;
}