#welcome-back h1 {
    font-weight: 200;
    text-shadow: 0.3rem 0.2rem 0.3rem black;
}

#currently-watching {
    margin: auto;
    width: 92%;
}

.slick-slide {
    max-height: 130px;
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

.slick-prev {
    left: -35px !important;
}

.slick-next {
    right: -35px !important;
}
