@import url('https://fonts.googleapis.com/css?family=Archivo|Noto+Sans|Poppins');

/* #currently-watching, #browse {
    margin: auto;
    width: 92%;
} */

.select {
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#browse h4 {
    font-weight: 400;
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

.slick-prev {
    left: -35px !important;
}

.slick-next {
    right: -35px !important;
}

.btn-accent {
    font-family: Helvetica;
    background-color: red;
}

.btn-accent:hover {
    background-color: #db0000;
}

.level {
    justify-content: left;
}